@font-face {
  font-family: Norse-Bold;
  src: url(Norse-Bold.otf);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0%;
  padding: 0%;
  background: wheat;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(3, auto);
}

.image {
  height: 100%vh;
  width: 33vw;
}

.image-container {
  grid-row: 1 / -1;
  height: 100%vh;
  width: 33vw;
}

/* .footer-container {
  grid-column: 2 / -1;
} */

.logo {
  width: 33vw;
  height: 20vh;
  position: absolute;
  top: 200px;
  background: white;
  font-size: minmax(2rem, 4rem);
  background-color: bisque;
  padding: 20px;
  font-family: "Norse-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.image-logo {
  position: relative;
  top: 0px;
  width: max(100px);
  height: max(100px);
}

.grid-container {
  height: auto;
  width: auto;
  padding: 40px;
}

.form-container {
  background-color: blanchedalmond;
  border: 1px solid red;
}

.footer-container {
  background-color: blanchedalmond;
  border: 1px solid red;
}